@model DCComics.Model.Person





<div class="row">
    <div class="col-md-2">
        @Html.DisplayFor(model => model.FirstName)

    </div>
    <div class="col-md-2">
        @Html.DisplayFor(model => model.LastName)
    </div>
    <div class="col-md-2">
        @Html.DisplayFor(model => model.Birthday)
    </div>
    <div class="col-md-2">
        @Html.DisplayFor(model => model.Address)
    </div>
    <div class="col-md-2 btn-group btn-group-sm">
        <button type="button" class="btn btn-default" data-id="@Model.Id" data-toggle="modal" data-target="#popUpEditPerson">Edit</button>
        <button type="button" class="btn btn-default" data-id="@Model.Id" data-toggle="modal" data-target="#popUpDetailsPerson">Details</button>
        <button type="button" class="btn btn-default" data-id="@Model.Id" data-toggle="modal" data-target="#popUpDeletePerson">Delete</button>
    </div>
</div>

<div class="modal fade" id="popUpEditPerson">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Edit</h3>
            </div>

            <!-- body form -->
            <div class="modal-body" id="popUpEditPerson_body">

                @Html.Partial("Edit", Model)

            </div>
            <!-- submit button-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="popUpDetailsPerson">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Details</h3>
            </div>

            <!-- body form -->
            <div class="modal-body">

                @Html.Partial("Details", Model)

            </div>
            <!-- submit button-->
            <div class="modal-footer">

                <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-md" data-dismiss="modal" data-toggle="modal" data-target="#popUpEditPerson">Edit</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="popUpDeletePerson">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Delete</h3>
            </div>

            <!-- body form -->
            <div class="modal-body">

                @Html.Partial("Delete", Model)

            </div>
            <!-- submit button-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {

            $(document).ready(function () {
                //change dis shit
                $(".button").on("click", function (event) {
                    /* if you want to use the same modal, you must unbind() actions because bootstrap
                       remember olders actions on Modal element */

                    $("#popUpEditPerson").unbind();
                    var btn = $(this);
                    var id = $(this).data("id"); /* "data-id" attribute in html */
                    $.ajax({
                        type: 'POST',
                        //url: content_direct_delivery_in_html,
                        data: { id: id },
                        success: function (html) {
                            $('#popUpEditPerson').modal().on('shown.bs.modal', function (e) {
                                $("#popUpEditPerson_body").html(html);
                            });
                        }
                    });
                });
            });
    </script>
}