@model DCComics.Model.Person

<div class="row">
    <div class="col-md-2">
        @Html.DisplayFor(model => model.FirstName)
    </div>
    <div class="col-md-2">
        @Html.DisplayFor(model => model.LastName)
    </div>
    <div class="col-md-2">
        @Html.DisplayFor(model => model.Birthday)
    </div>
    <div class="col-md-2">
        @Html.DisplayFor(model => model.Address)
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#popUpEditPerson">Edit</button> |
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#popUpDetailsPerson">Details</button> |
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#popUpDeletePerson">Delete</button>       
    </div>
</div>

<div class="modal fade" id="popUpEditPerson">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" data-dissmiss="modal">&times;</button>
                <h3>Edit</h3>
            </div>

            <!-- body form -->
            <div class="modal-body">
                @*<iframe src='@Url.Action("Create")'></iframe>*@
                @Html.Partial("Edit", Model)

            </div>
            <!-- submit button-->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="popUpDetailsPerson">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" data-dissmiss="modal">&times;</button>
                <h3>Details</h3>
            </div>

            <!-- body form -->
            <div class="modal-body">
                @*<iframe src='@Url.Action("Create")'></iframe>*@
                @Html.Partial("Details", Model)

            </div>
            <!-- submit button-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default close" data-dissmiss="modal" data-toggle="modal" data-target="#popUpEditPerson">Edit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="popUpDeletePerson">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" data-dissmiss="modal">&times;</button>
                <h3>Delete</h3>
            </div>

            <!-- body form -->
            <div class="modal-body">
                @*<iframe src='@Url.Action("Create")'></iframe>*@
                @Html.Partial("Delete", Model)

            </div>
            <!-- submit button-->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
