@model DCComics.Model.Person

@{
    ViewBag.Title = "Details";
}

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>              

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" data-id="@Model.Id" data-type="Edit" data-toggle="modal" data-target="#popUpEditPerson">Edit</button>
            </div>
            <div class="col-lg-offset-10">
                <button type="button" class="btn btn-danger" data-id="@Model.Id" data-type="Delete" @*data-dismiss="modal" data-toggle="modal"*@ data-target="#popUpDeletePerson">Delete</button>
            </div>
        </div>
    </div>
</div>





<script type="text/javascript">
    $(document).ready(function () {

        $('[data-type="Edit"]').on("click", function () {
            $("#popUpEditPerson").unbind();
            $.ajax({
                url: '@Url.Action("Edit", "Person")',
                type: 'GET',
                data: { 'id': $(this).data("id")},
                dataType: 'html',
                success: function (data) {
                    $('#popUpEditPersonPartialView').html(data);
                    $('#popUpEditPerson').modal('show')
                    $('#popUpTableItemView').modal('hide')
                }
            });            
        });


        $('[data-type="Delete"]').on("click", function () {
            $("#popUpDeletePerson").unbind();
            $.ajax({
                url: '@Url.Action("Delete", "Person")',
                type: 'GET',
                data: { 'id': $(this).data("id") },
                dataType: 'html',
                success: function (data) {
                    $('#popUpDeletePersonPartialView').html(data);
                    $('#popUpDeletePerson').modal('show')
                    $('#popUpTableItemView').modal('hide')
                }
            });
        });
    });

</script>