@model IEnumerable<DCComics.Model.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.LastName)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Address)
        </div>
    </div>
    @foreach (var item in Model)
    {
        @Html.Partial("_PersonInList", item);

    }

    <div class="row">
        <div class="col-md-offset-6">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#popUpCreatePerson">Create New Person</button>
        </div>
        <div class="col-md-offset-6">
            <button type="button" class="btn btn-success" id="btnservice">Get People</button>
        </div>
    </div>
</div>


<div class="modal fade" id="popUpCreatePerson">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Create Person</h3>
            </div>

            <!-- body form -->
            <div class="modal-body">
                @*<iframe src='@Url.Action("Create")'></iframe>*@
                @Html.Partial("Create", new DCComics.Model.Person())

            </div>
            <!-- submit button-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="popUpTableItemView">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Details</h3>
            </div>

            <!-- body form -->
            <div class="modal-body" id="popUpTableItemPartialView">
               

            </div>
            <!-- submit button-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"  data-toggle="modal" data-target="#popUpEditPerson">Edit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"  data-toggle="modal" data-target="#popUpDeletePerson">Delete</button>
                <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>








<div>
    <table id="results-table" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
            </tr>
        </thead>
    </table>
</div>




     @section scripts
{
     @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
    $(document).ready(function () {





        $('#btnservice').click(function () {
            $.ajax({
                url: '@Url.Action("GetPeople", "Person")',
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    alert("Success");
                    for (var prop in data) {
                        console.log("data." + prop + " = " + data[prop].FirstName);
                    }
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        });



        var table = $("#results-table").DataTable({
            ajax: {
                url: '@Url.Action("GetPeople", "Person")',
                type: 'POST',
                dataSrc: "",
                //dataType: 'json',
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            },
            lengthMenu: [[10, 15, 20, 50, -1], [10, 15, 20, 50, "All"]],
            pageLength: 15,
            language: {
                search: "Filter:"
            },
            order: [[1, "asc"]],
            //dom: 'lBftip',
            //buttons: [ 'excel'],
            columns: [
                {
                    data: "Id",
                    visible: false
                },
                {
                    data: "FirstName",
                    visible: true,

                },
             {
                 data: "LastName",
                 visible: true
             },
              {
                  data: "Address",
                  visible: true
              }
            ]
        });



        $("#results-table").on('click', 'tr', function () {
            var mydata = table.row(this).data();
            //alert('You clicked on ' + data.FirstName + '\'s row');
            $.ajax({
                url: '@Url.Action("Details", "Person")',
                type: 'GET',
                data: {'id' : mydata.Id},
                dataType: 'html',
                success: function (data) {               
                    $('#popUpTableItemPartialView').html(data);
                    $('#popUpTableItemView').modal('show')
                }
            });
        });

        $("#results-table").on('mouseenter', 'td', function () {
            var colIdx = table.cell(this).index().column;
            var rowIdx = table.cell(this).index().row;
            $(table.cells().nodes()).removeClass('highlight');
            $(table.column(colIdx).nodes()).addClass('highlight');
            $(table.row(rowIdx).nodes()).addClass('highlight');
        });








    });
    </script>
}