@{
    ViewBag.Title = "Code Tables";
}
@Styles.Render("~/bundles/styles")
@Scripts.Render("~/bundles/scripts")
@Scripts.Render("~/bundles/datatables")
@Scripts.Render("~/bundles/jqueryval")

@Html.Partial("_modals")
<h2>Code Tables</h2>
<select id="list" class="form-control">
    <option data-request-url="@Url.Action("Index","Person")">        Person *    </option> 
    <option data-request-url="@Url.Action("Index","LocationTypes")">        Location Type *    </option>
    <option data-request-url="@Url.Action("#","#")">        Aia    </option>
    <option data-request-url="@Url.Action("#","#")">        Classification    </option>
    <option data-request-url="@Url.Action("Index","ControlTypes")">        Control Type *   </option>
    <option data-request-url="@Url.Action("#","#")">        Crew    </option>
    <option data-request-url="@Url.Action("#","#")">        Department    </option>
    <option data-request-url="@Url.Action("#","#")">        Division    </option>
    <option data-request-url="@Url.Action("#","#")">        Failure Class    </option>
    <option data-request-url="@Url.Action("#","#")">        Location Status    </option>
    <option data-request-url="@Url.Action("#","#")">        Location Status History    </option>
    <option data-request-url="@Url.Action("#","#")">        Location Type    </option>
    <option data-request-url="@Url.Action("#","#")">        Owner Status    </option>
    <option data-request-url="@Url.Action("#","#")">        Problem Code    </option>
    <option data-request-url="@Url.Action("#","#")">        Region    </option>
    <option data-request-url="@Url.Action("#","#")">        Repair Code    </option>
    <option data-request-url="@Url.Action("#","#")">        Section    </option>
    <option data-request-url="@Url.Action("#","#")">        Trade    </option>
    <option data-request-url="@Url.Action("#","#")">        Work Order Status    </option>
    <option data-request-url="@Url.Action("#","#")">        Work Type    </option>
</select>

<div id="codeTableView"></div>

@section scripts
{
    <script type="text/javascript">
        

        $(document).ready(function () {
            var redirectedLink = getParameterByName('redirectedLink');
            if(redirectedLink==null)
            {
                $('#codeTableView').load('@Url.Action("Index","Person")');
            }
            else
            {               
                $('#codeTableView').load('\\' + redirectedLink + '\\Index');                
                var sel = document.getElementById('list');
                var opts = sel.options;
                for (var opt, j = 0; opt = opts[j]; j++) {                    
                    if (opt.value.search(redirectedLink) > -1) {
                        sel.selectedIndex = j;
                        break;
                    }
                }
            }

            @*$.ajax({
                url: '@Url.Action("Index","Person")',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $('#codeTableView').html(data);
                }
            });*@

            $("#list").on('change', function (e) {
                var link = this.options[e.target.selectedIndex].getAttribute("data-request-url");
                $('#codeTableView').load('\\' + link + '\\Index');
               
                //$.ajax({
                //    url: this.options[e.target.selectedIndex].getAttribute("data-request-url"),
                //    type: 'GET',
                //    dataType: 'html',
                //    success: function (data) {
                //        $('#codeTableView').html(data);
                //    }
                //});

            })

        });

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }




</script>
}


<script src="~/Scripts/buttonActions.js"></script>